
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>
<div>
       <h1> <%= title %> </h1>
       <table class="guildmates-table">
          <tbody>
             <% for (var i=0; i<missingGuildmates.length;i++) {%>
                <tr>
                <td> <%=missingGuildmates[i]%> </td>
                </tr>
   &nbsp;  
<% } %>
          </tbody>
       </table>
</div>

<br>

</home>
</html>